In [24]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime


# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# 원하는 스테이션 날씨 가져오기

In [25]:
station_12 = cf.getSpecifiedWeatherData(df_weather, 12)

In [26]:
cf.isThereNoneData(station_12)

M Data over 60% : ['depart']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,1,0.10,0,0.00,0,0.0
3,tmin,1035,1,0.10,0,0.00,0,0.0
4,tavg,1035,4,0.39,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,1,0.10,0,0.00,0,0.0
7,wetbulb,1035,4,0.39,0,0.00,0,0.0
8,heat,1035,4,0.39,0,0.00,0,0.0
9,cool,1035,4,0.39,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,1035,100.0
11,sunset,1035,0,0.00,0,0.00,1035,100.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,33,3.19,0,0.00,0,0.0
14,preciptotal,1035,1,0.10,144,13.91,0,0.0
15,stnpressure,1035,2,0.19,0,0.00,0,0.0
16,sealevel,1035,4,0.39,0,0.00,0,0.0
17,resultspeed,1035,1,0.10,0,0.00,0,0.0
18,resultdir,1035,1,0.10,0,0.00,0,0.0
19,avgspeed,1035,2,0.19,0,0.00,0,0.0

# 위에 함수에의해 60%이상 m벨루를 포함한 컬럼 "depart", "snowfall", "sunrise", "sunset"은 제거한다.

In [27]:
station_12.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,12,2012-01-01,72,48,60,M,54,57,5,0,-,-,FG+ FG BR,0.0,0.00,30.15,30.19,4.4,25,4.8
1,12,2012-01-02,65,47,56,M,33,46,9,0,-,-,,0.0,0.00,30.09,30.14,11.7,30,12.7
2,12,2012-01-03,47,34,41,M,12,30,24,0,-,-,,0.0,0.00,30.25,30.33,12.9,32,13.2
3,12,2012-01-04,53,31,42,M,17,32,23,0,-,-,,0.0,0.00,30.34,30.38,2.7,32,4.2
4,12,2012-01-05,68,32,50,M,38,44,15,0,-,-,,0.0,0.00,30.18,30.22,5.0,28,5.5

In [28]:
cf.remove_columns(station_12, ["depart","date","sunrise", "sunset","codesum","station_nbr"])

제거한 컬럼명 : ['depart', 'date', 'sunrise', 'sunset', 'codesum', 'station_nbr']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,87,57,72,60,64,0,7,0.0,0.00,30.01,30.07,1.6,10,3.7
1031,84,57,71,60,64,0,6,0.0,0.00,30.09,30.14,2.0,19,2.8
1032,85,60,73,62,65,0,8,0.0,0.00,30.02,30.05,1.8,21,3.3
1033,81,61,71,63,66,0,6,0.0,0.09,29.90,29.94,1.5,01,3.3
1034,75,60,68,53,59,0,3,0.0,0.00,29.80,29.85,7.0,32,7.5

In [29]:
station_12.head()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,72,48,60,54,57,5,0,0.0,0.00,30.15,30.19,4.4,25,4.8
1,65,47,56,33,46,9,0,0.0,0.00,30.09,30.14,11.7,30,12.7
2,47,34,41,12,30,24,0,0.0,0.00,30.25,30.33,12.9,32,13.2
3,53,31,42,17,32,23,0,0.0,0.00,30.34,30.38,2.7,32,4.2
4,68,32,50,38,44,15,0,0.0,0.00,30.18,30.22,5.0,28,5.5

In [30]:
station_12_t = cf.remove_m_row(station_12, station_12.columns)
print("")
print("")
station_12_dropped_all = cf.remove_m_row(station_12)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 993


원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 993

In [31]:
station_12.head()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,72,48,60,54,57,5,0,0.0,0.00,30.15,30.19,4.4,25,4.8
1,65,47,56,33,46,9,0,0.0,0.00,30.09,30.14,11.7,30,12.7
2,47,34,41,12,30,24,0,0.0,0.00,30.25,30.33,12.9,32,13.2
3,53,31,42,17,32,23,0,0.0,0.00,30.34,30.38,2.7,32,4.2
4,68,32,50,38,44,15,0,0.0,0.00,30.18,30.22,5.0,28,5.5

In [32]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_12_t.values, i) for i in range(station_12_t.shape[1])]
vif["features"] = station_12_t.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.179212  preciptotal
1        1.388920    resultdir
2       10.885701     avgspeed
3       10.890683  resultspeed
4       92.151833     dewpoint
5      113.366086  stnpressure
6      114.733901     sealevel
7      233.012918      wetbulb
8      488.728253         tmax
9      655.600333         tmin
10     673.665349         heat
11    2652.010849         cool
12  194051.914129         tavg
13            NaN     snowfall