In [1]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime


# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# 원하는 스테이션 날씨 가져오기

In [2]:
station_14 = cf.getSpecifiedWeatherData(df_weather, 14)

In [3]:
cf.isThereNoneData(station_14)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,2,0.19,0,0.00,0,0.0
3,tmin,1035,2,0.19,0,0.00,0,0.0
4,tavg,1035,6,0.58,0,0.00,0,0.0
5,depart,1035,37,3.57,0,0.00,0,0.0
6,dewpoint,1035,3,0.29,0,0.00,0,0.0
7,wetbulb,1035,9,0.87,0,0.00,0,0.0
8,heat,1035,6,0.58,0,0.00,0,0.0
9,cool,1035,6,0.58,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,31,3.0
11,sunset,1035,0,0.00,0,0.00,31,3.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,2,0.19,29,2.80,0,0.0
14,preciptotal,1035,2,0.19,100,9.66,0,0.0
15,stnpressure,1035,6,0.58,0,0.00,0,0.0
16,sealevel,1035,15,1.45,0,0.00,0,0.0
17,resultspeed,1035,2,0.19,0,0.00,0,0.0
18,resultdir,1035,2,0.19,0,0.00,0,0.0
19,avgspeed,1035,2,0.19,0,0.00,0,0.0

# 위에 함수에의해 60%이상 m벨루를 포함한 컬럼 "depart", "snowfall", "sunrise", "sunset"은 제거한다.

In [4]:
station_14.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,14,2012-01-01,50,34,42,5,25,35,23,0,0739,1729,,0.0,0.00,29.13,30.52,11.4,32,11.3
1,14,2012-01-02,45,26,36,-1,16,29,29,0,0739,1729,,0.0,0.00,29.21,30.65,6.3,35,7.4
2,14,2012-01-03,60,24,42,5,23,33,23,0,0740,1730,,0.0,0.00,28.84,30.30,12.4,18,12.7
3,14,2012-01-04,58,32,45,9,27,37,20,0,0740,1731,,0.0,0.00,28.89,30.29,6.1,34,7.6
4,14,2012-01-05,67,29,48,12,28,38,17,0,0740,1732,,0.0,0.00,28.71,30.14,9.8,21,10.3

In [5]:
cf.remove_columns(station_14, ["date","sunrise", "sunset","codesum","station_nbr"])

제거한 컬럼명 : ['date', 'sunrise', 'sunset', 'codesum', 'station_nbr']

,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,84,67,76,19,51,60,0,11,0.0,T,28.41,29.74,7.6,21,15.8
1031,71,50,61,4,38,50,4,0,0.0,0.00,28.74,30.07,9.9,03,10.5
1032,74,41,58,2,36,47,7,0,0.0,0.00,28.77,30.16,2.8,17,4.0
1033,77,45,61,5,39,50,4,0,0.0,0.00,28.76,30.13,4.4,34,10.4
1034,60,38,49,-7,31,42,16,0,0.0,0.00,28.98,30.36,11.9,01,12.5

In [6]:
station_14.head()

,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,50,34,42,5,25,35,23,0,0.0,0.00,29.13,30.52,11.4,32,11.3
1,45,26,36,-1,16,29,29,0,0.0,0.00,29.21,30.65,6.3,35,7.4
2,60,24,42,5,23,33,23,0,0.0,0.00,28.84,30.30,12.4,18,12.7
3,58,32,45,9,27,37,20,0,0.0,0.00,28.89,30.29,6.1,34,7.6
4,67,29,48,12,28,38,17,0,0.0,0.00,28.71,30.14,9.8,21,10.3

In [7]:
station_14_t = cf.remove_m_row(station_14, station_14.columns)
print("")
print("")
station_14_dropped_all = cf.remove_m_row(station_14)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 985


원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 985

In [8]:
station_14.head()

,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,50,34,42,5,25,35,23,0,0.0,0.00,29.13,30.52,11.4,32,11.3
1,45,26,36,-1,16,29,29,0,0.0,0.00,29.21,30.65,6.3,35,7.4
2,60,24,42,5,23,33,23,0,0.0,0.00,28.84,30.30,12.4,18,12.7
3,58,32,45,9,27,37,20,0,0.0,0.00,28.89,30.29,6.1,34,7.6
4,67,29,48,12,28,38,17,0,0.0,0.00,28.71,30.14,9.8,21,10.3

In [9]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_14_t.values, i) for i in range(station_14_t.shape[1])]
vif["features"] = station_14_t.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.129259     snowfall
1        1.174004  preciptotal
2        1.197749    resultdir
3        1.777706       depart
4        5.239768  resultspeed
5        6.102603     avgspeed
6       82.939415     dewpoint
7       84.763365  stnpressure
8      102.466939     sealevel
9      254.233057      wetbulb
10    1272.514830         tmin
11    1360.423403         tmax
12    1630.656854         cool
13    2883.589455         heat
14  137043.492885         tavg