In [5]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime
import pickle


# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# 원하는 스테이션 날씨 가져오기

In [6]:
station_11 = cf.getSpecifiedWeatherData(df_weather, 11)

In [7]:
train_preprocess = pickle.load(open("excluded_zero_units.pkl", "rb"))

In [8]:
train_11 = pd.concat([train, station_11] , axis = 1 , join = 'inner' )

NameError: name 'train' is not defined

In [3]:
cf.isThereNoneData(station_11)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,1,0.10,0,0.00,0,0.0
3,tmin,1035,1,0.10,0,0.00,0,0.0
4,tavg,1035,4,0.39,0,0.00,0,0.0
5,depart,1035,35,3.38,0,0.00,0,0.0
6,dewpoint,1035,60,5.80,0,0.00,0,0.0
7,wetbulb,1035,63,6.09,0,0.00,0,0.0
8,heat,1035,4,0.39,0,0.00,0,0.0
9,cool,1035,4,0.39,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,31,3.0
11,sunset,1035,0,0.00,0,0.00,31,3.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,3,0.29,1,0.10,0,0.0
14,preciptotal,1035,1,0.10,115,11.11,0,0.0
15,stnpressure,1035,5,0.48,0,0.00,0,0.0
16,sealevel,1035,60,5.80,0,0.00,0,0.0
17,resultspeed,1035,60,5.80,0,0.00,0,0.0
18,resultdir,1035,60,5.80,0,0.00,0,0.0
19,avgspeed,1035,3,0.29,0,0.00,0,0.0

# 위에 함수에의해 60%이상 m벨루를 포함한 컬럼 "depart", "snowfall", "sunrise", "sunset"은 제거한다.

In [38]:
station_11.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,11,2012-01-01,72,48,60,7,54,56,5,0,0724,1737,FG+ FG BR,0.0,0.00,30.15,30.18,4.6,23,4.8
1,11,2012-01-02,63,40,52,-1,31,44,13,0,0724,1738,,0.0,0.00,30.10,30.14,10.2,29,11.1
2,11,2012-01-03,44,25,35,-18,12,28,30,0,0724,1738,,0.0,0.00,30.26,30.33,9.3,31,9.7
3,11,2012-01-04,54,22,38,-15,15,29,27,0,0724,1739,,0.0,0.00,30.34,30.37,2.3,27,3.1
4,11,2012-01-05,68,31,50,-3,35,41,15,0,0724,1740,,0.0,0.00,M,30.21,6.6,27,M

In [39]:
cf.remove_columns(station_11, ["tavg","tmin","tmax","date","sunrise", "sunset","codesum","station_nbr"])

제거한 컬럼명 : ['tavg', 'tmin', 'tmax', 'date', 'sunrise', 'sunset', 'codesum', 'station_nbr']

,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,4,60,64,0,6,0.0,0.00,30.01,30.06,1.2,15,3.8
1031,3,61,64,0,5,0.0,0.00,30.09,30.13,1.9,19,3.1
1032,5,62,65,0,7,0.0,0.00,30.02,30.05,2.3,21,3.0
1033,4,63,65,0,5,0.0,0.00,29.91,29.94,1.6,36,3.4
1034,-2,53,57,2,0,0.0,0.00,29.82,29.85,5.3,30,6.1

In [40]:
station_11.head()

,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,7,54,56,5,0,0.0,0.00,30.15,30.18,4.6,23,4.8
1,-1,31,44,13,0,0.0,0.00,30.10,30.14,10.2,29,11.1
2,-18,12,28,30,0,0.0,0.00,30.26,30.33,9.3,31,9.7
3,-15,15,29,27,0,0.0,0.00,30.34,30.37,2.3,27,3.1
4,-3,35,41,15,0,0.0,0.00,M,30.21,6.6,27,M

In [41]:
station_11_t = cf.remove_m_row(station_11, station_11.columns)
print("")
print("")
station_11_dropped_all = cf.remove_m_row(station_11)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 932


원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 932

In [42]:
station_11.head()

,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,7,54,56,5,0,0.0,0.00,30.15,30.18,4.6,23,4.8
1,-1,31,44,13,0,0.0,0.00,30.10,30.14,10.2,29,11.1
2,-18,12,28,30,0,0.0,0.00,30.26,30.33,9.3,31,9.7
3,-15,15,29,27,0,0.0,0.00,30.34,30.37,2.3,27,3.1
4,-3,35,41,15,0,0.0,0.00,M,30.21,6.6,27,M

In [43]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_11_t.values, i) for i in range(station_11_t.shape[1])]
vif["features"] = station_11_t.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

      VIF Factor     features
0   1.287446e+00  preciptotal
1   1.871166e+00       depart
2   4.657740e+00    resultdir
3   1.933409e+01         heat
4   4.401480e+01  resultspeed
5   5.099434e+01         cool
6   6.815043e+01     avgspeed
7   2.454242e+03     dewpoint
8   8.830692e+03      wetbulb
9   6.430862e+06  stnpressure
10  6.432751e+06     sealevel
11           NaN     snowfall