In [28]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime


# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# 원하는 스테이션 날씨 가져오기

In [29]:
station_13 = cf.getSpecifiedWeatherData(df_weather, 13)

In [30]:
cf.isThereNoneData(station_13)

M Data over 60% : ['depart', 'snowfall']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.0,0,0.0
1,date,1035,0,0.00,0,0.0,0,0.0
2,tmax,1035,1,0.10,0,0.0,0,0.0
3,tmin,1035,1,0.10,0,0.0,0,0.0
4,tavg,1035,14,1.35,0,0.0,0,0.0
5,depart,1035,1035,100.00,0,0.0,0,0.0
6,dewpoint,1035,0,0.00,0,0.0,0,0.0
7,wetbulb,1035,3,0.29,0,0.0,0,0.0
8,heat,1035,14,1.35,0,0.0,0,0.0
9,cool,1035,14,1.35,0,0.0,0,0.0
10,sunrise,1035,0,0.00,0,0.0,1035,100.0
11,sunset,1035,0,0.00,0,0.0,1035,100.0
12,codesum,1035,0,0.00,0,0.0,0,0.0
13,snowfall,1035,1035,100.00,0,0.0,0,0.0
14,preciptotal,1035,1,0.10,177,17.1,0,0.0
15,stnpressure,1035,3,0.29,0,0.0,0,0.0
16,sealevel,1035,3,0.29,0,0.0,0,0.0
17,resultspeed,1035,0,0.00,0,0.0,0,0.0
18,resultdir,1035,0,0.00,0,0.0,0,0.0
19,avgspeed,1035,1,0.10,0,0.0,0,0.0

# 위에 함수에의해 60%이상 m벨루를 포함한 컬럼 "depart", "snowfall", "sunrise", "sunset"은 제거한다.

In [31]:
station_13.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,13,2012-01-01,38,18,28,M,12,21,37,0,-,-,,M,0.00,24.60,30.59,2.5,16,6.1
1,13,2012-01-02,50,16,33,M,17,28,32,0,-,-,,M,0.00,24.55,30.54,6.1,16,6.8
2,13,2012-01-03,55,31,43,M,16,33,22,0,-,-,,M,0.00,24.40,30.23,2.9,21,6.3
3,13,2012-01-04,58,27,43,M,16,32,22,0,-,-,,M,0.00,24.49,30.36,5.5,19,6.1
4,13,2012-01-05,66,35,51,M,21,37,14,0,-,-,,M,0.00,24.26,30.04,4.2,21,5.0

In [32]:
cf.remove_columns(station_13, ["snowfall","depart", "date","sunrise", "sunset","codesum","station_nbr"])

제거한 컬럼명 : ['snowfall', 'depart', 'date', 'sunrise', 'sunset', 'codesum', 'station_nbr']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,50,32,41,33,37,24,0,0.05,24.20,29.94,5.9,13,8.7
1031,59,31,45,24,35,20,0,0.00,24.34,30.17,4.3,15,5.7
1032,69,29,49,18,37,16,0,0.00,24.34,30.12,1.6,15,6.3
1033,61,32,47,26,38,18,0,0.00,24.51,30.31,4.8,13,6.7
1034,58,35,47,28,37,18,0,0.00,24.36,30.18,6.1,17,7.2

In [33]:
station_13.head()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,38,18,28,12,21,37,0,0.00,24.60,30.59,2.5,16,6.1
1,50,16,33,17,28,32,0,0.00,24.55,30.54,6.1,16,6.8
2,55,31,43,16,33,22,0,0.00,24.40,30.23,2.9,21,6.3
3,58,27,43,16,32,22,0,0.00,24.49,30.36,5.5,19,6.1
4,66,35,51,21,37,14,0,0.00,24.26,30.04,4.2,21,5.0

In [34]:
station_13_t = cf.remove_m_row(station_13, station_13.columns)
print("")
print("")
station_13_dropped_all = cf.remove_m_row(station_13)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 1017


원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 1017

In [35]:
station_13.head()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,38,18,28,12,21,37,0,0.00,24.60,30.59,2.5,16,6.1
1,50,16,33,17,28,32,0,0.00,24.55,30.54,6.1,16,6.8
2,55,31,43,16,33,22,0,0.00,24.40,30.23,2.9,21,6.3
3,58,27,43,16,32,22,0,0.00,24.49,30.36,5.5,19,6.1
4,66,35,51,21,37,14,0,0.00,24.26,30.04,4.2,21,5.0

In [36]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_13_t.values, i) for i in range(station_13_t.shape[1])]
vif["features"] = station_13_t.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

      VIF Factor     features
0       1.098647    resultdir
1       1.214431  preciptotal
2       3.387943  resultspeed
3       3.893777     avgspeed
4      29.756593     dewpoint
5      68.594791  stnpressure
6      79.261982     sealevel
7     169.780848         cool
8     202.180116      wetbulb
9    1240.620257         tmin
10   1566.988864         tmax
11   3832.400334         heat
12  72567.115784         tavg